@media only screen and (max-width: 600px) {
  .submitBlock {
    flex-direction: column !important;
    margin-top: 1em;
    margin-left: 0 !important;
  }
  .authorInput {
    width: 63% !important;
  }
}

.formWrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noteButton {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 3px solid #f3cfca;
  border-radius: 0.6em;
  color: #f3cfca;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  transition: 0.2s ease-out;
  outline: none;
}

.noteButton:hover {
  background-color: #f3cfca;
  color: #fff;
  transition: 0.2s ease-out;
}

.submitBlock {
  margin-left: 1em;
  width: 110%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.noteInput {
  width: 69%;
  min-width: 69%;
  height: 5rem;
  font-size: 1.2em;
  outline: none;
  border: 2px solid #ddbdff;
  border-radius: 0.3em;
  font-family: "Quicksand", sans-serif;
  color: #d2cbcb;
  transition: 0.2s ease-out;
  padding: 0.5em 0 0 1rem;
}

.authorInput {
  width: 40%;
  min-width: 40%;
  height: 3.3rem;
  font-size: 1.2em;
  outline: none;
  border: 2px solid #ddbdff;
  border-radius: 0.3em;
  font-family: "Quicksand", sans-serif;
  color: #d2cbcb;
  transition: 0.2s ease-out;
  padding-left: 1rem;
}

.noteInput:focus, .noteAuthor:focus{
  background-color: #E4F1FE;
  color: #282c34;
  transition: 0.2s ease-in;
}