.note {
  padding:10px;
  height: auto;
  margin: auto;
  width: 65%;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #222;
  /* background-color: #eed; */
  background-color: #ecf5b5;
  border-radius: 4px;
  box-shadow: 4px 3px 2px #333;
  opacity: 1;
  margin-bottom: 1rem;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:0.8; } }
@keyframes fadeOut { from { opactiy:0.8; } to { opacity:0; } }

.fade-in {
  opacity:0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration: 0.1s;
}

p.noteContent {
  margin: 0.5em 0 0;
}

p.noteAuthor {
  margin: 0.5em 0.5em 0.5em;
}

.noteContent {
  font-size: 1.3em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.noteAuthor {
  font-size: 1.2em;
  text-align: end;
}
