.App {
  width: 100%;
  min-width: 1050px;
  /* background-color: #f7b5ac; */
}

.App-header {
  /* width: 100%;
  min-width: 1050px; */
  height: 8rem;
  background-color: #282c34;
  font-family: 'Permanent Marker', cursive;
  font-size: 3.2em;
  /* color: #deea97; */
  /* color: #f7b5ac; */
  color: #f7b5ac;
  text-shadow: 3px 3px 3px #000;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-logo {
  height: 8rem;
  pointer-events: none;
  margin: 0 1.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  min-height:100%;
  /* width: 100%;
  background:
    linear-gradient(-45deg, rgba(0,0,0,0.3), rgba(0, 40, 105, 0.8)),
    url('./Static/img/background.jpg');
  background-attachment: fixed;
  background-size: cover; */
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

p {
  color:  #080a0e;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 1.5rem;
}

.menu-items {
  padding: 0 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.tab {
  color:  #282c34;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
  border-spacing: 2em;
  text-transform: uppercase;
  list-style-type: none;
}

.tab > button {
  border: none;
  background-color: white;
  outline: none;
}

.tab:hover {
  color: #f7b5ac;
}

.footer {
  display: flex;
  align-items: center;
  position: fixed;
  width:100%;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: #f3cfca;
  height: 4rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
}

.notesWrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
}

.notesBody {
  padding-top: 24px;
  display: flex;
  flex: 1 1 85%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  min-height: 100%;
}