@media only screen and (max-width: 600px) {
  p{
    font-size: 1.2em !important;
  }
  .App-header > div {
    font-size: 1.8rem;
    width: auto !important;
  }
  .App-logo {
    height: 6rem !important;
  }
  .menu-items {
    flex-direction: column !important;
  }
  .tab {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2em !important;
    padding-bottom: 0.2em;
  }
  .footer {
    font-size: 1.0em !important;
  }
  .tab > button {
    cursor: none !important;
  }
}

.App {
  width: 100%;
}

.App-header {
  height: 8rem;
  /* background-color: #282c34; */
  /* background-color: #f7b5ac; */
  background-color: #f7a99e;
  font-family: 'Permanent Marker', cursive;
  font-size: 3.2em;
  /* color: #deea97; */
  /* color: #f7b5ac; */
  color: #dde89a;
  text-shadow: 3px 3px 3px #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 13px solid #dde89a;
}

.App-logo {
  height: 8rem;
  pointer-events: none;
  margin: 0 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  min-height:100%;
  margin-bottom: 100px;
  clear: both;
}

p {
  color: #080a0e;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 1.4em;
}

.welcome-message {
  padding: 5px 10px 0;
}

.menu-items {
  padding: 0 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.tab {
  color: #f7a99e;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
  border-spacing: 2em;
  text-transform: uppercase;
  list-style-type: none;
}

.tab > button {
  border: none;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.tab:hover {
  /* color:#ddbdff; */
  color: #dde89a;
}

.center {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  align-items: center;
  position: fixed;
  width:100%;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: #282c34; */
  background-color: #f7a99e;
  /* color: #f3cfca; */
  /* color: #5a595a; */
  color: white;
  height: 4rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
}

.notesWrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
}

.notesBody {
  padding-top: 24px;
  display: flex;
  flex: 1 1 85%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  min-height: 100%;
}