.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin: -0.5em 0.5em 0 0.5em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* From tutorial */
html{
  height: 100%;
}

body {
  width: 100%;
  min-height:100%;
  background:
    linear-gradient(-45deg, rgba(0,0,0,0.3), rgba(0, 40, 105, 0.8)),
    url('./Static/img/background.jpg');
  background-attachment: fixed;
  background-size: cover;
}

* {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.notesWrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
}

.notesHeader {
  display: flex;
  flex: 1 1 5%;
  min-height: 2.5em;
  max-height: 2em;
  font-size: 3.2em;
  /* color: #F4B350; */
  color: #deea97;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  align-content: center;
  padding:20px 0px 20px 0px;
  margin-bottom: 6px;
  /* background-color: rgba(0,0,0,0.5); */
  background-color: #282c34;
  text-shadow: 3px 3px 10px #000;
  /* display: block; */
}

.notesBody {
  padding-top: 24px;
  display: flex;
  flex: 1 1 85%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
}

.notesFooter {
  display: flex;
  flex: 1 1 5%;
  background-color: rgba(0,0,0,0.5);
}